.page-header
  %h1 Жанры
-if Genre.edit_by?(@current_user)
  .btn-toolbar
    =link_to new_genre_path,class: 'btn btn-primary' do
      =fa_icon 'plus'
      Добавить
.list-group
  -@genres.each do |genre|
    =link_to genre, class: 'list-group-item' do
      =genre.name

=paginate @genres
