.page-header
  %h1 Фильмы
-if Film.edit_by?(@current_user)
  .btn-toolbar
    =link_to new_film_path, class: 'btn btn-primary' do
      =fa_icon 'plus'
      Новый фильм
-if @films.blank?
  .alert.alert-info Фильмов не найдено
-else
  .list-group
    =render @films
  =paginate @films  
