-if Country.edit_by?(@current_user)
  .btn-toolbar
    =link_to edit_country_path(@country), class: 'btn btn-primary' do
      =fa_icon 'edit'
      Редактировать
    -if @country.can_destroy?
      =link_to @country, data: {method: :delete, confirm: t('helpers.sure')}, class: 'btn btn-danger' do
        =fa_icon 'trash'
        Удалить
