!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title=t('app.name')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    =render 'topbar'
    .container
      =render 'flash_messages'
      = yield
      =render 'footer'
